{% extends 'layout.html.twig' %}

{% block title %} Description {{ product.name|capitalize }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {{ render(controller('App\\Controller\\StoreController::menuBrands', {'currentBrandId': product.brand.id})) }}
        </div>

        <div class="col-md-9">
            <p class="lead"> Fiche descriptive du <b>{{ product.name|capitalize }}</b>
                <a href="{{ path('store_list_products') }}" class="btn btn-default pull-right">Retour à la liste des produits</a>
            </p>
            <div class="row">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{ asset(product.image.url) }}" alt="{{ product.image.alt }}">
                    <div class="caption-full">
                        <h4 class="pull-right"><span class="badge">{{ product.price }} €</span></h4>
                        <h3>{{ product.name|capitalize }}</h3>
                        <p>{{ product.description }}</p>
                        <p>
                            {{ product.longDescription }}
                        </p>
                        <ul>
                            {% for color in product.colors %}
                                <li> <div class="">{{ color.name }}</div> </li>
                            {% endfor %}
                        </ul>
                     </div>
                </div>

                <div class="well">
                    <p class="pull-right label label-success">Actuellement {{ product.comments.count }} avis</p>

                    {% for comment in product.comments | sort((a, b) => b.createdAt <=> a.createdAt) %}
                        <div class="row">
                            <div class="col-md-12">
                                <span class="label label-info">{{ comment.pseudo }}</span>
                                <span class="label label-default pull-right">{{ comment.createdAt|date('d-m-Y H:i:s') }}</span>
                                <p>{{ comment.message }}</p>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                    {% for flash_type, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ flash_type }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {{ form_start(form) }}

                        <div class="form-group">
                            {{ form_errors(form.pseudo) }}
                            {{ form_label(form.pseudo) }}
                            {{ form_widget(form.pseudo, {'attr': {'class': 'form-control', 'placeholder': form.pseudo.vars.label} }) }}
                        </div>
                    
                        <div class="form-group">
                            {{ form_errors(form.message) }}
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'placeholder': form.message.vars.label, 'rows': 6} }) }}
                        </div>
                    
                        <button type="submit" class="btn btn-info"> Envoyer mon avis </button>
                    
                    {{ form_end(form) }}
                    
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}